# Configuración del servidor
PORT=3000

# Servicios de IA (Comentar o eliminar si no se usan)

# Gemini (Google)
GEMINI_API_KEY=

# OpenAI
OPENAI_API_KEY=

# Grok (xAI)
XAI_API_KEY=

# Kimi (Moonshot AI)
MOONSHOT_API_KEY=

# GLM (Zhipu AI)
ZHIPU_API_KEY=

# Anthropic-GLM (Z.AI Proxy)
ANTHROPIC_GLM_API_KEY=

# Mistral AI
MISTRAL_API_KEY=

# Cerebras
CEREBRAS_API_KEY=

# Groq
GROQ_API_KEY=

#OpenRouter
OPEN_ROUTER_API_KEY=